# NATS cluster configuration
NATS_ROUTE_PASSWORD=pass
NATS_SYS_PASSWORD=pass
DICOM_WORKER_PASSWORD=pass
DICOM_ANALYZER_PASSWORD=pass

# S3 configuration
S3_USER=minio
S3_PASSWORD=minio123

# DICOM configuration
ORTHANC_NAME=dicom-orthanc
ORTHANC_PASSWORD=orthanc

# Observability configuration
GRAFANA_USER=grafana
GRAFANA_PASSWORD=grafana123