# NATS cluster configuration
NATS_ROUTE_PASSWORD=pass
NATS_SYS_PASSWORD=pass
DICOM_WORKER_PASSWORD=pass
DICOM_ANALYZER_PASSWORD=pass

# S3 configuration
S3_USER=minio
S3_PASSWORD=minio123

# DICOM configuration
ORTHANC_NAME=dicom-orthanc
ORTHANC_PASSWORD=orthanc

# Observability configuration
GRAFANA_USER=grafana
GRAFANA_PASSWORD=grafana123
TRACING_HOST=localhost
TRACING_PORT=4317

# Dicom-worker configuration
DICOM_WORKER_PORT=11000
JWT_SECRET=secret
JWT_ENCRYPTION=32-hexadecimal-characters
JWT_EXPIRE=24 # in hours
DICOM_WORKER_DB_USER=pguser
DICOM_WORKER_DB_PASSWORD=pgpass
DICOM_WORKER_DB_NAME=db
DICOM_WORKER_DB_HOST=localhost
DICOM_WORKER_DB_PORT=5432
