# NATS cluster configuration
NATS_URL=nats://localhost:4222,nats://localhost:4223,nats://localhost:4224
NATS_REPLICAS=3
NATS_ROUTE_PASSWORD=pass
NATS_SYS_PASSWORD=pass
DICOM_WORKER_PASSWORD=pass
DICOM_MANAGER_PASSWORD=pass
DICOM_ANALYZER_PASSWORD=pass

# S3 configuration
S3_USER=minio
S3_PASSWORD=minio123
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123

# DICOM configuration
ORTHANC_NAME=dicom-orthanc
ORTHANC_PASSWORD=orthanc
ORTHANC_HOST=localhost
ORTHANC_PORT=8042

# Observability configuration
METRICS_ADDR=:9100
GRAFANA_USER=grafana
GRAFANA_PASSWORD=grafana123
TRACING_HOST=localhost
TRACING_GRPC_PORT=4317
TRACING_HTTP_PORT=4318

# Dicom-worker configuration
DICOM_WORKER_PORT=11000
DICOM_WORKER_DB_USER=pguser
DICOM_WORKER_DB_PASSWORD=pgpass
DICOM_WORKER_DB_NAME=db
DICOM_WORKER_DB_HOST=localhost
DICOM_WORKER_DB_PORT=5433

# Dicom-manager configuration
DICOM_MANAGER_PORT=10000
DICOM_MANAGER_S3_HOST=localhost
DICOM_MANAGER_S3_PORT=9010
DICOM_MANAGER_S3_BUCKET=reports
DICOM_WORKER_HOST=dicom-worker
JWT_SECRET=secret
JWT_ENCRYPTION=32-hexadecimal-characters
JWT_EXPIRE=24 # in hours
DICOM_MANAGER_DB_USER=pguser
DICOM_MANAGER_DB_PASSWORD=pgpass
DICOM_MANAGER_DB_NAME=db
DICOM_MANAGER_DB_HOST=localhost
DICOM_MANAGER_DB_PORT=5432
